:root {
	--color-primary: #1F2544;
	--color-secondary: #474F7Af;
	}
	html {
	font-size: 62.5%;
	/* Allows you to use rems instead of pixels for sizing */
	/*
	.5rem = 5px
	1.0rem = 10px
	1.6rem = 16px
	2.0rem = 20px
	6.0rem = 60px
	*/
	}
	/* Browser Reset */
	*,
	*::before,
	*::after {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	}
	
	/* Easy Pixel Calculations with Rem Units */
	
	/* Fix Browser Bounce on Macs */
	body {
	overflow-x: auto;
	width: 100%;
	overscroll-behavior: none;
	/* Allows for easy pixel calcs in rems */
	font-size:1.6rem;
	}
	


	/*
	All Sections 

	pageheader
	showcase
	features
	pagecontent
	semesters
	pagefooter
	*/

	/* General Mobile First CSS */

	body
	{
		/*********padding:1.0rem; */
		font-family:Arial, Helvetica, sans-serif;
		line-height:1.7rem;
		background-color:#1d1d1d;
		color:#333;
	}

	/* Link Styles */
	a
	{
		color:red;
		text-decoration:none;
	}

	/* Header Styles */
	h1,h2
	{
		text-align:center;
	}

	h1,h2,h3
	{
		line-height:1.2;
		font-family:Georgia, 'Times New Roman', Times, serif;
	}

	/* Container Styles */
	
	.container {
	background-color: white;
	min-height: 10rem;
	max-width: 120rem;
	margin: auto;
	padding: 0rem 3rem 0rem 3rem;
	}

	/* End General Mobile CSS Styles */
	#pageheader {
		background-color:var(--color-primary);
		min-height:0.7rem;
		}
	

	/* Showcase Section Styles */
	#showcase {
	border: .2rem solid none;
	background-color:var(--color-primary);
	padding:10rem;
	background-image:linear-gradient(to bottom, var(--color-primary), var(--color-secondary));
	background-color:url(/images/falin.png);
	background-repeat:no-repeat;
	background-size:center;
	/* background-attachment:fixed; */
	background-position:center;
	}

	#showcasetext
	{
		border:.2rem solid none;
		color:#fff;
		text-align:center;
		margin:5rem auto;
		max-width:60rem;
	}

	#showcase h1 
	{
		font-size:5rem; /*50px */
		margin-bottom:2rem; /*20px */
		text-shadow: 0 0 1rem black;
	}

	#showcase blockquote
	{
		font-size:2.4rem;
		margin-bottom:2rem;	
		padding:2px;
		white-space: nowrap;
		
	}

	blockquote::before
	{
		font-size:40px;
		content:"“";
	}
	blockquote::after 
	{
		font-size:40px;
		content:"”";
	}

	#showcaseimage
	{
		text-align:center;
		/*Cheating*/
		display:none;
	}

	#showcaseimage img 
	{
		border-radius:1rem;
		margin:auto; /* Needed */
		display:none;
	}

	#showcaseintro
	{
		color:#fff;
		text-align:center;
		font-size:3rem;
	}

	/* Hide Big Logos/Technologies for Mobile */
	#logosbig
	{
		display:none;
	}

	#logossmall
	{
		width:30rem;
	}

	/* End of Showcase Section Styles */

	/* Special Header Container Styles */

	#pageheader .container
	{
		background-color:var(--color-secondary);
		/* border:2px dashed red; */
		display:flex;
		justify-content:space-between;
		align-items:center;	
		height:100%;
		padding:0 2rem 0 2rem;	
	}

	.logo img
	{
		height:6rem;
	}

	.logo:hover
	{
		animation-name:swim;
		animation-duration:5s;
		animation-iteration-count:infinite;
		animation-direction:alternate;
		animation-timing-function:linear;
	}
	@keyframes swim
	{
		0%{transform:rotate(0deg)};
		100%{transform:rotate(45deg)};
	}

	/* Header Menu */

	#menu
	{
		background-color: var(--color-primary);
		/* border:2px dashed red; */
		display:flex;
		justify-content:space-between;
		width:20rem;  /* 200px */
		list-style-type:none;
		background-color:none;
		padding:20px;
	}


	#menu li a 
	{
		color:#fff;
	}

	/* End of Header Section Styles */
	
	/* Features Section */
	#features .container
	{
		padding-top:2rem; /* Seperate from Showcase */
		background-color:#474F7A;
		/* border:2px dashed red; */
		display:flex;
		gap:1rem;
		justify-content:space-between;
		flex-direction:column;
	}

	.card
	{
		background-color:#fff;
		padding:2rem;
		box-shadow:0rem 0rem 1rem silver;
		margin-bottom:2rem;
		border-radius:2.5rem;

	}

	/* End Features Section Styles */

	/*  Pagecontent Section  */

	#pagecontent
	{
		background-color:none;
		padding:2rem 0 2rem 0;
	}

	#pagecontent .container
	{
		padding:2rem;
	}
	#pagecontent h2, h3
	{
		padding:2rem;
	}

	#pagecontent h2 
	{
		font-size:4rem;
	}

	#pagecontent h3
	{
		font-size:2.5rem;
	}

	/* End Pagecontent Section */

	/* Semester Section */
	#semesters
	{
		padding:2rem 0 2rem 0;
	}

	#semesters h2, #semesters h3
	{
		padding:2rem 0 2rem 0;
	}

	#semesters h2 
	{
		font-size:4rem;
	}

	#semesters h3
	{
		font-size:2.5rem;
	}

	.assignments a
	{
		color:#3B3486;
	}

	#semesters .container
	{
		padding:2rem;
	}

	/* Semesters Thumbnail Section */
	.thumbnail
	{
		background-color:#474F7A;
		/* border:2px dashed red; */
		display:flex;
		justify-content:space-evenly;
		align-items:center;
		flex-wrap:wrap;
		align-content:center;
		padding:20px;
	}

	.thumbnail img 
	{
		border-radius:5%;
	}

	.thumb
	{
		width:150px;
		height:150px;
	}
	
	.thumbnail a {
		background-color:none;
		position:relative;
	}

	.thumbnail a[data-tooltip]::after
	{
		background-color:rgb(0,0,0,0.7);
		color:white;
		padding:0.5rem;
		content:attr(data-tooltip);
		position:absolute;
		z-index:1;
		top:-15%;
		left:10%;
		right:10%;
		border-radius:10px;
		text-align:center;
		transform:scale(0);
		transition:all 0.5s;
	}

	.thumbnail a[data-tooltip]:hover::after
	{
		transform:scale(1);
	}
	.thumb:hover
	{
		animation-name:tilt;
		animation-duration:1s;
		animation-fill-mode:forwards;
	}

	@keyframes tilt
	{
		0%{transform:rotate(0deg);}
		50%{transform:rotate(-15deg);}
		100%{transform:rotate(0deg);}
	}
	/* End Semester Section */
	

	/* Footer Section */

	#bive
	{
		height:250px;
		width:250px;
		margin:auto;
		display:block;
	}
	#pagefooter {
	background-color:var(--colorprimary);
	color:#fff;
	text-align:center;
	padding:2rem;
	padding-top:6rem;
	}
	#pagefooter .container
	{
		background-color:var(--color-primary);
		/* border:2px dashed red; */
		display:flex;
		justify-content:space-evenly;
		align-items:center;
	}

	#pagefooter a
	{
		color:#fff;
	}

	#pagefooter a:hover
	{
		color:#F4A9EF;
	}

	#pagefooter h3
	{
		padding-bottom:3rem;
	}

	#pagefooter #quote
	{
		text-align:left;
	}

	#pagefooterlinks
	{
		display:none;
		padding:1.5rem;
	}

	/* End Footer Section Styles */
	
	/* Media Queries */
	@media only screen and (min-width:320px)
	{
		#features
		{
			background-color:none;
		}
	}

	@media only screen and (min-width:480px)
	{
		#features
		{
			background-color:none;
		}
	}

	@media only screen and (min-width:768px)
	{
		#features
		{
			background-color:none;
		}

		.card
		{
			flex-basis:30%;
		}

		#features .container
		{
			flex-direction:row;
		}

		h1, h2
		{
			text-align:left;
		}

		}
	
	@media only screen and (min-width:1024px)
	{
		#features 
		{
			background-color:var(--color-primary);		
		}

		#logosbig
		{
			display:block;
			margin:auto;
		}

		#logossmall
		{
			display:none;
		}
	}

	@media only screen and (min-width:1200px)
	{
		features
		{
			background-color:none;	
		}

		#pagefooterlinks
		{
			display:block;
		}
	}