---
import"../styles/global.css";
import PageHeader from "../components/PageHeader.astro";
import PageFooter from "../components/PageFooter.astro";
import Features from "../components/Features.astro";
import PageContent from "../components/PageContent.astro";
import Semesters from "../components/Semesters.astro";
import Showcase from "../components/Showcase.astro";
---

<!DOCTYPE html>
<html lang="en">
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1.0" />
<title>Natalia Rodriquez - Portfolio</title>

</head>
<body>
<!--
pageheader
showcase
features
pagecontent
semesters
pagefooter
-->
<PageHeader />

<Showcase />

<Features />

<PageContent />

<Semesters />

<PageFooter />
</body>
</html>

