<!-- Begin Pageheader -->
<header id="pageheader">
    <div class="container">
        <div class="logo">
        <img src="images/logocoloredp.png" alt="Baja Blast but Nat instead">
        </div>

        <nav>
            <ul id="menu">
                <li><a href="/">Home</a></li><br>
                
                <li><a href="/career">Career</a></li><br>
                
                <li><a href="https://chsserver01.org/2023/nrodriquez062023/">Sky:COTL Porfolio</a></li><br>
            </ul>
        </nav> 
        
    </div>
    <!-- End Container -->
    </header>
    <!-- End Pageheader -->

    <style>
        /* Header Menu */

	#menu
	{
		background-color: var(--color-primary);
		/* border:2px dashed red; */
		display:flex;
		justify-content:space-between;
		width:30rem;  /* 200px */
		list-style-type:none;
		background-color:none;
		padding:20px;
	}


	#menu li a 
	{
		color:#fff;
	}

	/* End of Header Section Styles */
    </style>