<!-- Begin Pageheader -->
<header id="pageheader">
    <div class="container">
        <div class="logo">
        <img src="images/logocolored.png" alt="Baja Blast but Nat instead">
        </div>

        <nav>
            <ul id="menu">
                <li><a href="index.html">Home</a></li><br>
                
                <li><a href="about.html">About</a></li><br>
                
                <li><a href="blog.html">Blog</a></li><br>
            </ul>
        </nav> 
        
    </div>
    <!-- End Container -->
    </header>
    <!-- End Pageheader -->