
<!-- Pagecontent Section -->
<div id="pagecontent">
    <div class="container">
        <h2>Introduction</h2>
        <p>My name is Natalia Rodriquez. I am a Junior at CHS and this is my third and final year of this pathway! However, I'll probably become a TA for this class because I just... love it soooo much!! hahahahahah</p>
    
        <h3>Career</h3>
        <p>
            My goal is to get a degree in computer information systems. This class is what made me realize that this field was the most doable.
        </p>
        
        <h3>Programming</h3>
        <p>Over the last years I have learned just the basic HTML and CSS stuff. But in this class we're learning new technologies such as astro, git, and javascript. </p> 
    </div>
</div>