<!-- Footer Section -->
<img src="images/fanart.png" alt="bive" id="bive">

<footer id="pagefooter">
    <div class="container">
        <div id="quote">
            <h3>Final Thoughts</h3>
            <blockquote>
                "WHAT MY GUTS ARE SPILLING???" - Bive 
            </blockquote>
        </div>

        <!-- End Quote -->

        <div id="pagefooterlinks">
            <h3>Links</h3>
            <ul>
                <li><a href="index.html">Home</a></li>
                <li><a href="index.html">About</a></li>
                <li><a href="blog.html">Blog</a></li>
            </ul>
        </div>
        <!-- End Footer Links -->
    </div>
    <!-- End Pagefooter Container -->
</footer>
<!-- End Pagefooter Section -->