<!-- Semesters Section -->
<section id="semesters">
    <div class="container">
        <h2>Key Assignments</h2>

        <section id="workthumbnails">
            <div class="thumbnail">
                <img src="images/git.png" alt="VS Code" class="thumb">
                <img src="images/flexbox.png" alt="Flexbox" class="thumb">
                <img src="images/randomf.png" alt="Arrays" class="thumb">
                <img src="images/flexbox1.png" alt="Flexbox" class="thumb">
                <img src="images/drawingapp.png" alt="Drawing Canvas" class="thumb">
                <img src="images/canvasdrawing.png" alt="Canvas Drawing" class="thumb">
            </div>
        </section>

        <h3>Semester 1</h3>
        <ul class="assignments">
            <li><a href="#">A001 - Description</a></li>
            <li><a href="#">A002 - Description</a></li>
            <li><a href="#">A003 - Description</a></li>
            <li><a href="#">A004 - Description</a></li>
        </ul>
        <h3>Semester 2</h3>
        <ul class="assignments">
            <li><a href="#">A005 - Description</a></li>
            <li><a href="#">A006 - Description</a></li>
            <li><a href="#">A007 - Description</a></li>
            <li><a href="#">A008 - Description</a></li>
        </ul>
    </div>
    <!-- End Semesters Container -->
</section>
<!-- End Semesters Section -->