<!-- Semesters Section -->
<section id="semesters">
    <div class="container">
        <h2>Key Assignments</h2>

        <section id="workthumbnails">
            <div class="thumbnail">
                <img src="images/git.png" alt="VS Code" class="thumb">
                <img src="images/flexbox.png" alt="Flexbox" class="thumb">
                <img src="images/randomf.png" alt="Arrays" class="thumb">
                <img src="images/flexbox1.png" alt="Flexbox" class="thumb">
                <img src="images/drawingapp.png" alt="Drawing Canvas" class="thumb">
                <img src="images/canvasdrawing.png" alt="Canvas Drawing" class="thumb">
            </div>
        </section>

        <h3>Semester 1</h3>
        <ul class="assignments">
            <li><a href="https://chsserver01.org/2023/nrodriquez062023/Demos/PaintbrushV5/paintbrushv5.html" target="_blank">Drawing App</a></li>
            <li><a href="https://chsserver01.org/2023/nrodriquez062023/Activities/CanvasDrawing2/canvasdrawing2.html" target="_blank">Canvas Drawing</a></li>
            <li><a href="https://chsserver01.org/2023/nrodriquez062023/Demos/ArraysReview/arraysreviewforeach.html" target="_blank">Arrays Review </a></li>
            <li><a href="https://chsserver01.org/2023/nrodriquez062023/img/GIT.png" target="_blank">Git Init Steps</a></li>
        </ul>
        <h3>Semester 2</h3>
        <ul class="assignments">
            <li><a href="https://chsserver01.org/2023/nrodriquez062023/Activities/AFB001WAD/afb001wad.html" target="_blank">A00FB1WAD</a></li>
            <li><a href="https://chsserver01.org/2023/nrodriquez062023/Activities/AFB002/afb002.html" target="_blank">AFB002</a></li>
    
        </ul>
    </div>
    <!-- End Semesters Container -->
</section>
<!-- End Semesters Section -->