<!-- Semesters Section -->
<section id="semesters">
    <div class="container">
        <h2>Key Assignments</h2>

        <section id="workthumbnails">
            <div class="thumbnail">
                <a href="https://chsserver01.org/2023/nrodriquez062023/img/GIT.png" data-tooltip="Git Init Setup"><img src="images/git.png" alt="VS Code" class="thumb"></a>
                <a href="https://chsserver01.org/2023/nrodriquez062023/Demos/Flexbox001/flexbox001.html" data-tooltip="Flexbox 001"><img src="images/flexbox.png" alt="Flexbox" class="thumb"></a>
                <a href="https://chsserver01.org/2023/nrodriquez062023/Demos/ArraysReview/arraysreviewforeach.html" data-tooltip="Arrays Review"><img src="images/randomf.png" alt="Arrays" class="thumb"></a>
                <a href="https://chsserver01.org/2023/nrodriquez062023/Activities/AFB003/afb003.html" data-tooltip="Flexbox 003"><img src="images/flexbox1.png" alt="Flexbox" class="thumb"></a>
                <a href="https://chsserver01.org/2023/nrodriquez062023/Demos/PaintbrushV5/paintbrushv5.html" data-tooltip="Paintbrush V5"><img src="images/drawingapp.png" alt="Drawing Canvas" class="thumb"></a>
                <a href="https://chsserver01.org/2023/nrodriquez062023/Activities/CanvasDrawing2/canvasdrawing2.html" data-tooltip="Canvas Drawing"><img src="images/canvasdrawing.png" alt="Canvas Drawing" class="thumb"></a>
            </div>
        </section>

        <h3>Semester 1</h3>
        <ul class="assignments">
            <li><a href="https://chsserver01.org/2023/nrodriquez062023/Demos/PaintbrushV5/paintbrushv5.html" target="_blank">Drawing App</a></li>
            <li><a href="https://chsserver01.org/2023/nrodriquez062023/Activities/CanvasDrawing2/canvasdrawing2.html" target="_blank">Canvas Drawing</a></li>
            <li><a href="https://chsserver01.org/2023/nrodriquez062023/Demos/ArraysReview/arraysreviewforeach.html" target="_blank">Arrays Review </a></li>
            <li><a href="https://chsserver01.org/2023/nrodriquez062023/img/GIT.png" target="_blank">Git Init Steps</a></li>
        </ul>
        <h3>Semester 2</h3>
        <ul class="assignments">
            <li><a href="https://chsserver01.org/2023/nrodriquez062023/Activities/AFB001WAD/afb001wad.html" target="_blank">A00FB1WAD</a></li>
            <li><a href="https://chsserver01.org/2023/nrodriquez062023/Activities/AFB002/afb002.html" target="_blank">AFB002</a></li>
    
        </ul>
    </div>
    <!-- End Semesters Container -->
</section>
<!-- End Semesters Section -->

<style>
    /* Semester Section */
	#semesters
	{
		padding:2rem 0 2rem 0;
	}

	#semesters h2, #semesters h3
	{
		padding:2rem 0 2rem 0;
	}

	#semesters h2 
	{
		font-size:4rem;
	}

	#semesters h3
	{
		font-size:2.5rem;
	}

	.assignments a
	{
		color:#3B3486;
	}

	#semesters .container
	{
		padding:2rem;
	}

	/* Semesters Thumbnail Section */
	.thumbnail
	{
		background-color:#474F7A;
		/* border:2px dashed red; */
		display:flex;
		justify-content:space-evenly;
		align-items:center;
		flex-wrap:wrap;
		align-content:center;
		padding:20px;
	}

	.thumbnail img 
	{
		border-radius:5%;
	}

	.thumb
	{
		width:150px;
		height:150px;
	}
	
	.thumbnail a {
		background-color:none;
		position:relative;
	}

	.thumbnail a[data-tooltip]::after
	{
		background-color:rgb(0,0,0,0.7);
		color:white;
		padding:0.5rem;
		content:attr(data-tooltip);
		position:absolute;
		z-index:1;
		top:-15%;
		left:10%;
		right:10%;
		border-radius:10px;
		text-align:center;
		transform:scale(0);
		transition:all 0.5s;
	}

	.thumbnail a[data-tooltip]:hover::after
	{
		transform:scale(1);
	}
	.ul:hover
	{
		animation-name:tilt;
		animation-duration:1s;
		animation-fill-mode:forwards;
	}

	.assignments a 
	{
		color:black;
	}
	.assignments a:hover 
	{
		color:rgb(79, 246, 255);
	}
	@keyframes tilt
	{
		0%{transform:rotate(0deg);}
		50%{transform:rotate(-15deg);}
		100%{transform:rotate(0deg);}
	}
	/* End Semester Section */
</style>